{% extends 'base.html' %}

{% block content %}

    
    <div class="container">
        <h3 style="margin: 2px 0px 0px 2px"> About Us</h3> <br>
        <p>The websapp is designed to help control text, that many times need to be handled, for either beautifying or for changing the case. 
            The request for improvements, and suggestions will surely be welcomed.</p>
        <p>This app is designed, by Mohd Maaz Khan, i.e., myself, to learn and use my skills in a meaningful manner.</p>
        <p>Supports will be marks of appreciation for me, to design better modules.</p>

    </div>
{% endblock %}